# WordPress
.DS_Store
Thumbs.db

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
*.log
debug.log

# Composer
/vendor/
composer.lock

# Node
node_modules/
npm-debug.log
yarn-error.log

# Build files
*.zip
/build/
/dist/

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

